<div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="order-lg-0 col-12 col-lg-6 form-group">
        <app-input-custom 
            [control]="form.get('name')"
            [submitted]="submitted"
            [id]="'name-project'" 
            [placeholder]="'Nombre del proyecto ambiental'"
            [label]="'Nombre del proyecto ambiental'"></app-input-custom>
        <button 
            [attr.disabled]="form.invalid ? true : null"
            size="small"
            type="submit"
            nbButton 
            class="col-12 col-lg-auto" 
            status='primary'>Guardar <nb-icon icon="save-outline"></nb-icon></button>    
    </form>
    <div class="order-0 col-12 col-lg-6">
        <nb-alert outline accent="info">
            <p class="font-weight-bold d-flex">
                <nb-icon icon="alert-circle-outline"></nb-icon>
                <span class="ml-2">Recuerda que editas el contenido de acuerdo al lapso seleccionado</span>
            </p>
            <nb-radio-group [(ngModel)]="option" status="primary" class="d-flex">
                <nb-radio *ngFor="let option of options" (click)="onSelectLapse(option.value)" [value]="option.value">
                    {{ option.label }}
                </nb-radio>
            </nb-radio-group>
        </nb-alert>
    </div>

    <div class="col-12 text-center">
        <nb-alert outline="basic">Configurando el lapso: {{ option }}</nb-alert>
    </div>

    <form [formGroup]="formGeneralObjective" (ngSubmit)="onUpdateGeneralObjective()" class="col-12 col-lg-6">
        <app-input-custom 
            [submitted]="false"
            [control]="formGeneralObjective.get('generalObjective')"
            [label]="'Objectivo general'" 
            [placeholder]="'Objectivo general'" [id]="'general-objective'">
        </app-input-custom>

        <button  
            type="submit"
            size="small"
            nbButton 
            state="primary">Guardar <nb-icon icon="save-outline"></nb-icon></button>
    </form>
</div>