<nb-card >
    <nb-card-header class="text-right">
        <button class="btn btn-outline-primary">
            <nb-icon icon="edit-outline"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <section>
            <h6>Titulo de la noticia</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sapiente non praesentium unde, ullam
                modi
                provident explicabo eos illum reprehenderit autem cum! Quasi provident, libero debitis fugiat fugit
                alias
                cupiditate.</p>
        </section>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <p class="text-secondary mb-0">20/01/2020</p>
    </nb-card-footer>
</nb-card>