<nb-card>
    <nb-card-header class="text-center">
        <img [src]="data.image" [alt]="data.text" class="img-fluid">
    </nb-card-header>
    <nb-card-body>
        <section>
            <p>{{ data.text }}</p>
        </section>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button 
            (click)="delete.emit(data)"
            class="col-12 col-lg-auto btn btn-outline-danger mr-lg-2 mb-3 mb-lg-0">
            <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
        <button 
            (click)="edit.emit(data)"
            class="col-12 col-lg-auto btn btn-outline-primary">
            <nb-icon icon="edit-outline"></nb-icon>
        </button>
    </nb-card-footer>
</nb-card>