<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>Usuarios administradores</nb-card-header>
            <nb-card-body>
                <div class="mb-3">
                    <button class="btn btn-primary mr-2">Registrar</button>
                    <button class="btn btn-info">Refrescar</button>
                </div> 
                <div class="table-responsive">
                    <ng2-smart-table *ngIf="true" [source]='data' [settings]="settings"></ng2-smart-table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
