<nb-card>
    <nb-card-header>AmbLeMonedas</nb-card-header>
    <nb-card-body>
        <app-form-file-step [label]="'Charla con docente'" [placeholder]="'Descripción'">
        </app-form-file-step>

        <app-form-simple-step [label]="'Elaboración de alcancía'" [placeholder]="'Descripción'">
        </app-form-simple-step>

        <app-form-slider></app-form-slider>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button class="btn btn-success col-12 col-lg-auto">Guardar</button>
    </nb-card-footer>
</nb-card>