<app-modal [ID]='ID' [size]="'lg'" [title]="'Post'" extra="true">
    <form [formGroup]="formBlog" class="row" content>
        
        <div class="col-md-6 text-center form-group">
            <label class="label">Imagen principal</label>
            <app-input-img 
                [control]="formBlog.get('image')"
                [id]="'main-image'"></app-input-img>
        </div>

        <div class="col-md-6 text-center form-group">
            <label class="label">Imagen secundaria</label>
            <app-input-img 
                [control]="formBlog.get('image2')"
                [id]="'main-secondary'"></app-input-img>
        </div>

        <div class="col-12 form-group">
            <app-input-custom 
                [placeholder]="'Titulo'"
                [label]="'Titulo'"                    
                [submitted]="submitted"
                [control]="formBlog.get('title')"
                [id]="'post-title'"></app-input-custom>
        </div>    

        <div class="col-12">
            <app-text-area-custom 
                [submitted]="submitted"
                [control]="formBlog.get('text')"
                [placeholder]="'Contenido'"
                [label]="'Contenido'"></app-text-area-custom>
        </div>

        <div class="col-6">
            <app-select-tag 
                [submitted]="submitted"
                [control]="formBlog.get('tag')"></app-select-tag>
        </div>

        <div class="col-6">
            <app-select-post-status 
                [submitted]="submitted"
                [control]="formBlog.get('status')"></app-select-post-status>
        </div>

    </form>

    <button button (click)="onSubmit()" type="submit" class="btn btn-primary col-6 col-md-auto">
        <span *ngIf="MODE == ACTION.CREATE">Guardar</span>
        <span *ngIf="MODE == ACTION.EDIT">Editar</span>
    </button>
</app-modal>