<app-modal [ID]='ID' [size]="'lg'" [title]="'Registrar una noticia'" extra="true">
    <div class="row" content>
        <div class="col-6 text-center form-group">
            <label class="label">Image principal</label>
            <app-input-img></app-input-img>
        </div>
        <div class="col-6 text-center form-group">
            <label class="label">Image secundaria</label>
            <app-input-img></app-input-img>
        </div>

        <div class="col-12">
            <app-text-area-custom placeholder='Contenido' label='Contenido'></app-text-area-custom>
        </div>
    </div>

    <button button type="submit" (click)="onSubmit()" class="btn btn-primary col-6 col-md-auto">
        <span *ngIf="MODE == ACTION.CREATE">Guardar</span>
        <span *ngIf="MODE == ACTION.EDIT">Editar</span>
    </button>
</app-modal>