@import '../../../../../assets/scss/variables'; 

.cursor-pointer { cursor: pointer; }

table {
    thead {
        tr {
            th { 
                border-width: 1px;
            }
            .filter-column {
                &:hover { color: $color-primary-800; }
            }
            .selected { color: $color-primary-900; }
            
            
        }
    }
}

.action {
    .item {
        cursor: pointer;
        &:hover {
            color: $color-primary-800;
        }
    }
}