<nb-card class="mx-5">
  <nb-card-header>Confirmación de AmbLeMa</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed at dolorem
        aut veniam facilis nulla minima quibusdam corrupti magni laboriosam,
        sint, cumque quos ipsum illo ducimus deserunt architecto, nostrum
        consectetur?
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
      <button nbButton (click)="onClose()" outline status="basic" class="col-12 col-lg-auto">Cancelar</button>
  </nb-card-footer>
</nb-card>
