.clear-padding-y {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.clear-paddin-x {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.max-hw {
    height: 100%!important;
    width: 100%!important;
}