@import './placeholders'; 
@import './animations';
@import './variables';

// Menu

nb-menu {
    a {
        span {
            // Break line
            &:only-child {
                display: block;
                width: 100%;
            }
        }
    }
}

// Smart table

ng2-smart-table {
    td {
        &:first-child { min-width: 150px; }
    }
    // This is for adapt the custom actions columns
    .ng2-smart-actions {
        ng2-st-tbody-custom { 
            position: absolute;
            top: 0;
            display: flex;
            @extend %max-hw; 
            a {
                &:hover { color: $color-primary-hover!important; }
            }
        }
    }
}

// Reset bootstrap button

// Remove focus outline
button {
    &:focus {
        outline: none!important;
    }
}

// Stepper component 

// Content the components
.step-content { 
    position: relative;
    overflow: auto;
    width: 100%; }