@import './mixins'; 
@import './animations';

/* Reset theme */

// Animation side bar

nb-sidebar {
    @include transition(width 150ms ease-in-out);
    nb-menu {
        .menu-item {
            a {
                .menu-title {
                    animation: fadeIn 150ms ease-in-out;
                }
            }

            // Compact
            a.active {
                &::before {
                    animation: growWidth 200ms ease-in-out;
                }
            }
        }
    }
}

// Select

.nb-theme-default {
	nb-select {
		&.appearance-outline {
			&.size-medium {
                // Align to inputs
                .select-button {
					padding: 0.328125rem 1.125rem!important;
				}
			}
		}
    }
}

/* Reset bootstrap */