@import './mixins'; 
@import './animations';

/* Reset theme */

// Animation side bar

nb-sidebar {
    //@include transition(width 150ms ease-in-out);
    //* {
    //    @include transition(all 150ms ease-in-out);    
    //}
}

// Select

.nb-theme-default {
	nb-select {
		&.appearance-outline {
			&.size-medium {
                // Align to inputs
                .select-button {
					padding: 0.328125rem 1.125rem!important;
				}
			}
		}
    }
}

.cdk-overlay-container { z-index: 1100!important; }

// Smart table

ng2-smart-table {
    td:first-child {
        min-width: 150px;
    }
    .ng2-smart-actions {
        height: 100%!important;
        ng2-st-tbody-custom { 
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            display: flex;
            a {
                &:hover { color: $color-primary-800!important; }
            }
        }
    }
}
/* Reset bootstrap */

select { 
    background-color: #f7f9fc!important;
    border-color: #e4e9f2!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    height: 36.5px!important; }