<form [formGroup]="formSlide">
    <p class="font-weight-bold">Diapositiva</p>

    <div class="row align-items-center form-group">

        <div class="col-12 col-lg form-group">
            <app-input-img></app-input-img>
        </div>

        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-12">
                    <app-text-area-description [control]="formSlide.get('description')"></app-text-area-description>
                </div>

                <div class="col-12 text-right">
                    <button class="btn btn-success col-12 col-lg-auto">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Slide table -->
<app-slide-table></app-slide-table>