<form class="row form-group">

    <div class="col-12 col-lg-3">
        <app-input-img></app-input-img>
    </div>

    <div class="col-12 col-lg">

        <div class="row">
            <div class="col-12 col-lg-6">
                <app-input-custom [placeholder]="'Titulo'" [label]="'Titulo'" [id]="'title'"></app-input-custom>
            </div>
            <div class="col-12 col-lg-6">
                <app-input-custom [placeholder]="'Primera descripción'" [label]="'Primera descripción'" [id]="'firstDescription'"></app-input-custom>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <app-input-custom [placeholder]="'Segunda descripción'" [label]="'Segunda descripción'" [id]="'secondDescription'">
                </app-input-custom>
            </div>
            <div class="col-12 col-lg-6">
                <app-status-selector [label]="'Estatus'"></app-status-selector>
            </div>
        </div>
    </div>

    <div class="col-12 text-right">
        <button class="btn btn-success col-12 col-lg-auto">Registrar</button>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <ng2-smart-table (custom)="onAction($event)" [source]='data' [settings]="settings"></ng2-smart-table>
        </div>
    </div>
</div> 