<nb-card>
    <nb-card-header>Proceso de preinscripción</nb-card-header>
    <nb-card-body>
        <app-text-area-custom [label]="'Paso 1'" [placeholder]="'Descripción'"></app-text-area-custom>
        <app-text-area-custom [label]="'Paso 2'" [placeholder]="'Descripción'"></app-text-area-custom>
        <app-text-area-custom [label]="'Paso 3'" [placeholder]="'Descripción'"></app-text-area-custom>
        <app-text-area-custom [label]="'Paso 4'" [placeholder]="'Descripción'"></app-text-area-custom>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton status="success" class="btn btn-success col-12 col-lg-auto">Guardar</button>
    </nb-card-footer>
</nb-card>