<app-modal [ID]="MODAL" [size]="'lg'" extra="true" [title]="title">

    <form [formGroup]="form" content>
        <div class="row">
            <div class="col-12">
                <app-input-custom [submitted]="submitted" [id]="'title-project'" [control]="form.get('title')"
                    [placeholder]="'Titulo del proyecto'" [label]="'Titulo del proyecto'"></app-input-custom>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <app-select-coordinator [control]="form.get('coordinator')"></app-select-coordinator>
                <div *ngIf="submitted && form.controls.coordinator.invalid" class="mt-3 alert alert-primary">
                    <strong>Campo requerido</strong>
                </div>
            </div>
            <div class="col-12 col-md-4 form-group">
                <app-select-school [control]="form.get('school')"></app-select-school>
                <div *ngIf="submitted && form.controls.school.invalid" class="mt-3 alert alert-primary">
                    <strong>Campo requerido</strong>
                </div>
            </div>
            <div class="col-12 col-md-4 form-group">
                <app-select-sponsor [control]="form.get('sponsor')"></app-select-sponsor>
                <div *ngIf="submitted && form.controls.sponsor.invalid" class="mt-3 alert alert-primary">
                    <strong>Campo requerido</strong>
                </div>
            </div>
        </div>
    </form>

    <button status="success" nbButton button type="submit" (click)="onSubmit()"
        class="btn btn-primary col-6 col-md-auto">
        <span>Guardar</span>
    </button>
</app-modal>