<div class="row">

    <!-- State -->
    <div class="col-12 col-lg-6 form-group">
        <label for="state" class="label">Estados</label>
        <select fullWidth name="state" id="state" hero [formControl]='state' class="form-control"
            (change)="onSelectState($event.target.value)">
            <option  disabled [value]="null">- Seleccione un estado -</option>
            <option *ngFor='let item of states' [value]="item.id">{{ item.name }}</option>
        </select>
    </div>

    <!-- Municipality -->
    <div class="col-12 col-lg-6">
        <div class="row">
            <div class="col">
                <label for="municipality" class="label">Municipios</label>

                <!-- Select -->
                <select *ngIf="MODE == 'NORMAL' || MODE == CRUD.DELETE" fullWidth name="municipality" id="municipality"
                    hero [formControl]='municipality' class="form-control w-100 form-group">
                    <option *ngFor='let item of municipalities' [value]='item.value'>{{ item.value }}</option>
                </select>

                <!-- Input -->
                <app-input-custom *ngIf="MODE == CRUD.CREATE || MODE == CRUD.EDIT" [id]="'municipalityCRUD'"
                    [placeholder]="'Municipio'" [control]="inputCRUD" [submitted]="submitted"></app-input-custom>
            </div>

            <!-- CRUD Button group -->
            <div class="col-auto d-flex align-content-end align-items-end form-group">
                <div class="btn-group" role="group" aria-label="Basic example" *ngIf="MODE == 'NORMAL'">
                    <button class="btn btn-outline-info" nbTooltip="Registrar municipio" (click)="MODE = CRUD.CREATE">
                        <nb-icon icon="plus-outline"></nb-icon>
                    </button>
                    <button class="btn btn-outline-info" nbTooltip="Editar municipio" (click)="MODE = CRUD.EDIT">
                        <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                    <button class="btn btn-outline-danger" nbTooltip="Eliminar municipio" (click)="MODE = CRUD.DELETE">
                        <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                </div>

                <!-- Confirm actions -->
                <div class="btn-group" role="group" aria-label="Basic example" *ngIf="MODE != 'NORMAL'">
                    <button class="btn btn-outline-info" nbTooltip="Confirmar" (click)="onConfirm()">
                        Confirmar
                    </button>
                    <button class="btn btn-outline-danger" nbTooltip="Cancelar" (click)="MODE = 'NORMAL'">
                        Cancelar
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Key street -->
    <div class="col-12 col-lg-6 form-group">
        <app-input-custom [id]="'street'" [placeholder]="'Calles / Carrera'" [label]="'Calles / Carrera'"
            [control]="control" [submitted]="submitted"></app-input-custom>
    </div>
</div>