<div class="form-group">
    <label for="role" class="label">Tipo de empresa</label>
    <select name="role" id="role" (change)="onSelectTypeCompany()" class="form-control form-group"
        [formControl]="typeCompany">
        <option disabled selected [value]="null">- Seleccione un tipo de empresa -</option>
        <option *ngFor="let item of option" [value]="item.value">{{ item.label }}</option>

    </select>
    <div *ngIf="submitted && !typeCompany.value" class="alert alert-primary">
        <strong> Seleccione un tipo de empresa </strong>
    </div>

    <app-input-custom [id]="'other-company'" *ngIf="typeCompany.value == option[3].value" [label]="'Otra empresa'"
        [placeholder]="'Otra empresa'" [submitted]="submitted" [control]="otherCompany"></app-input-custom>
    <app-reactive-validation [validationErrors]="validationErrors"></app-reactive-validation>
</div>