<div class="modal-header">
  <h6 class="modal-title pull-left">Validación de información</h6>
</div>
<div class="modal-body">
  <!-- General info Request -->
  <div id="container-general-info">
    <p class="text-info font-weight-bold">Información general</p>
    <div id="list-container" class="d-lg-flex">
      <ul class="list-unstyled d-inline-block">
        <li class="d-flex justify-content-between">
          <span class="font-weight-bold"> Código de la solicitud: </span>
          <span> {{ (data$ | async)?.code }}</span>
        </li>
        <li class="d-flex justify-content-between">
          <span class="font-weight-bold"> Solicitante: </span>
          <span> {{ (data$ | async)?.user.name }}</span>
        </li>
        <li class="d-flex justify-content-between">
          <span class="font-weight-bold">Fecha de la solicitud: </span>
          <span> {{ (data$ | async)?.createdAt | date: "dd/MM/yyyy" }}</span>
        </li>
      </ul>

      <ul class="list-unstyled d-inline-block">
        <li class="d-flex justify-content-between">
          <span class="font-weight-bold">Codigo del proyecto: </span>
          <span> {{ (data$ | async)?.project.code }}</span>
        </li>
        <li class="d-flex justify-content-between">
          <span class="font-weight-bold">Coordinador: </span>
          <span>
            {{
              (data$ | async)?.project.coordinator.name
                ? (data$ | async)?.project.coordinator.name
                : "Sin coordinador"
            }}</span
          >
        </li>
        <li class="d-flex justify-content-between">
          <span class="font-weight-bold">Escuela: </span>
          <span>
            {{
              (data$ | async)?.project.school.name
                ? (data$ | async)?.project.school.name
                : "Sin escuela"
            }}</span
          >
        </li>
      </ul>

      
      <ul class="list-unstyled d-inline-block">
        <li class="d-flex justify-content-between">
          <span class="font-weight-bold">Padrino: </span>
          <span>
            {{
              (data$ | async)?.project.sponsor.name
                ? (data$ | async)?.project.sponsor.name
                : "Sin padrino"
            }}</span
          >
        </li>

        <!-- Tag -->
        <!-- <li class="d-flex justify-content-between">
          <span class="font-weight-bold">Etiqueta</span>
          <span>{{
            (data$ | async)?.detail.stepTag === "1"
              ? "General"
              : (data$ | async)?.detail.stepTag === "2"
              ? "Coordinador"
              : (data$ | async)?.detail.stepTag === "3"
              ? "Padrino"
              : "Escuela"
          }}</span>
        </li> -->
      </ul>
    </div>
  </div>

  <hr />

  <!-- General info step -->
  <div>
    <p class="text-info font-weight-bold">Información del paso</p>
    <div class="d-lg-flex">
      <ul class="list-unstyled d-inline-block">
        <!-- Name -->
        <li class="d-flex justify-content-between">
          <span class="font-weight-bold"> Nombre: </span>
          <span> {{ (data$ | async)?.detail.stepName }}</span>
        </li>

        <!-- Date -->
        <li
          *ngIf="(data$ | async)?.detail.stepHasDate"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> Campo fecha: </span>
          <span>
            {{ (data$ | async)?.detail.stepDate | date: "dd/MM/yyyy" }}</span
          >
        </li>
        <li
          *ngIf="!(data$ | async)?.detail.stepHasDate"
          class="d-flex justify-content-between font-weight-bold"
        >
          Sin campo fecha
        </li>

        <!-- File - field -->
        <li
          *ngIf="(data$ | async)?.detail.stepHasFile"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> Campo archivo: </span>
          <span>
            <a
              target="_blank"
              [attr.href]="(data$ | async)?.detail.stepFile.url"
              >{{ (data$ | async)?.detail.stepFile.name }}</a
            ></span
          >
        </li>
        <li
          *ngIf="!(data$ | async)?.detail.stepHasFile"
          class="d-flex justify-content-between font-weight-bold"
        >
          Sin campo carga de archivo
        </li>
      </ul>

      <ul class="list-unstyled d-inline-block">
        <!-- Text -->
        <li
          *ngIf="(data$ | async)?.detail.stepHasText"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> Texto: </span>
          <span> {{ (data$ | async)?.detail.stepText }}</span>
        </li>
        <li
          *ngIf="!(data$ | async)?.detail.stepHasText"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> Sin campo texto </span>
        </li>

        <!-- Uploaded file -->
        <li
          *ngIf="(data$ | async)?.detail.stepHasUpload"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> Campo - Archivo adjunto: </span>
          <span>
            <a
              target="_blank"
              [attr.href]="(data$ | async)?.detail.stepUploadedFile.url"
              >{{ (data$ | async)?.detail.stepUploadedFile.name }}</a
            ></span
          >
        </li>
        <li
          *ngIf="!(data$ | async)?.detail.stepHasUpload"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> Sin campo </span>
        </li>

        <!-- Video -->
        <li
          *ngIf="(data$ | async)?.detail.stepHasVideo"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> Video: </span>
          <span> {{ (data$ | async)?.detail.stepVideo }}</span>
        </li>
        <li
          *ngIf="!(data$ | async)?.detail.stepHasVideo"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> Sin campo video </span>
        </li>
      </ul>

      <!-- Check list -->
      <ul class="list-unstyled d-inline-block">
        <li
          *ngFor="let item of (data$ | async)?.detail.stepChecklist"
          class="d-flex justify-content-between"
        >
          <span class="font-weight-bold"> {{ item.name }} : </span>
          <span> {{ item.checked ? "Seleccionado" : "Sin marcar" }}</span>
        </li>
        <li
          *ngIf="!(data$ | async)?.detail.stepHasChecklist"
          class="d-flex justify-content-between font-weight-bold"
        >
          Sin campo de lista
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div *ngIf="(data$ | async)?.status === '1' && canEdit">
      <hr />
      <div *ngIf="confirmAction">
        <label class="label"> Acciones para la solicitud</label>
        <select
          [(ngModel)]="statusSelected"
          (change)="statusSelected = $event.target.value"
          class="form-control form-group"
        >
          <option value="2">Aceptar</option>
          <option value="3">Rechazar</option>
        </select>
      </div>

      <app-progress
        *ngIf="showProgress"
        (finish)="showProgress = false"
      ></app-progress>

      <div class="w-100 text-right justify-content-end">
        <button
          class="col-12 col-lg-auto"
          nbButton
          *ngIf="confirmAction"
          status="primary"
          (click)="confirmAction = false"
        >
          Proceder
        </button>

        <div *ngIf="!confirmAction">
          <nb-alert status="info" class="text-left"
            >Confirmar acción, al aprobar o rechazar esta solicitud no se podrá
            cambiar de estatus.</nb-alert
          >

          <div *ngIf="statusSelected === '3'" class="text-left">
            <label class="label">Comentario</label>
            <textarea
              fullWidth
              class="form-group"
              placeholder="Comentario"
              rows="5"
              [(ngModel)]="comment"
              nbInput
            ></textarea>
          </div>

          <div class="row justify-content-end">
            <div class="col-6 col-lg-auto">
              <button
                (click)="onApprovedRequest()"
                nbButton
                fullWidth
                *ngIf="!confirmAction"
                status="danger"
              >
                Confirmar
              </button>
            </div>
            <div class="col-6 col-lg-auto">
              <button
                nbButton
                outline
                fullWidth
                *ngIf="!confirmAction"
                status="basic"
                (click)="confirmAction = true"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    aria-label="Close"
    nbButton
    outline
    type="button"
    status="basic"
    (click)="bsModalRef.hide()"
    class="col-12 col-lg-auto"
  >
    Cerrar
  </button>
</div>
