<nb-card class="mx-4">
    <nb-card-header>Validación de información</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-12">

                <div class="row" *ngIf="data$ | async">
                    <div class="col-12 col-lg-6 form-group">
                        
                        <p class="d-flex w-100"> <span
                                class="pl-0 font-weight-bold col-5">Fecha de la solicitud:</span>
                            {{ (data$.createdAt | async) | json }} </p>
                        
                    </div>
                </div>

                <div>
                    {{ (data$.createAt | async) | json }}
                </div>
            </div> 
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="onClose()" outline status="basic">Cancelar</button>
    </nb-card-footer>
</nb-card>