<hr />
<p class="font-weight-bold">Nuestro Padrinos</p>

<div class="row">
  <div class="col-12">
    <nb-alert outline="basic">
      Se mostrará en el selector los padrinos que tengan imagenes y sitio web.
    </nb-alert>
  </div>
  <div class="col-12 col-lg-5">
    <label class="label">Padrinos</label>

    <ng-select
      [items]="sponsorAvailable$ | async"
      notFoundText="Padrino no encontrado"
      placeholder="- Seleccione un padrino -"
      bindLabel="name"
      (change)="onSelectSponsor($event)"
      class="custom form-group"
    >
    </ng-select>
  </div>

  <div class="col-12 col-lg-5">
    <label class="label">Orden</label>
    <ng-select
      [items]="sponsorPositions$ | async"
      notFoundText="Posición no encontrada"
      placeholder="- Posición -"
      bindLabel="name"
      (change)="onSelectPosition($event)"
      class="custom form-group"
    >
    </ng-select>
  </div>

  <div class="col-12 col-lg d-flex align-items-end">
    <div class="form-group w-100">
      <button
        nbButton
        size="sm"
        (click)="addSponsor()"
        status="primary"
        [attr.disabled]="dataSponsor && position ? null : true"
        fullWidth
      >
        <nb-icon icon="plus"></nb-icon>
      </button>
    </div>
  </div>

  <div id="special-table" class="col-12 mt-3">
    <div class="table-responsive">
      <ng2-smart-table
        (deleteConfirm)="onDeleteConfirm($event)"
        [settings]="settings"
        [source]="sponsorHave$ | async"
      ></ng2-smart-table>
    </div>
  </div>
</div>
