<hr />
<p class="font-weight-bold">Nuestro padrinos</p>

<div class="row">
  <div class="col-12 col-lg-5">
    <label class="label">Padrinos</label>
    <!-- <ng-select
      [items]="states$ | async"
      notFoundText="Estado no encontrado"
      placeholder="- Seleccione un estado -"
      bindLabel="name"
      bindValue="id"
      class="custom form-group"
      (change)="onAddressSelected()"
      [(ngModel)]="addressStateSelected"
    >
    </ng-select> -->

    <ng-select
      [items]="users$ | async"
      notFoundText="Padrino no encontrado"
      placeholder="- Seleccione un padrino -"
      bindLabel="name"
      (change)="onSelectSponsor($event)"
      class="custom form-group"
    >
    </ng-select>
  </div>

  <div class="col-12 col-lg-5">
    <label class="label">Orden</label>
    <ng-select
      [items]="dataPosition"
      notFoundText="Posición no encontrada"
      placeholder="- Posición -"
      bindLabel="name"
      class="custom form-group"
    >
    </ng-select>
  </div>

  <div class="col-12 col-lg d-flex align-items-end">
    <div class="form-group w-100">
      <button nbButton status="primary" fullWidth> <nb-icon icon="plus"></nb-icon> Agregar</button>
    </div>
  </div>
</div>
