<div class="row">
  <div class="col-12 col-lg-6">
    <label for="state" class="label">Estado</label>
    <ng-select
      placeholder="- Seleccionar un estado -"
      notFoundText="No hay estados"
      (change)="state.setValue($event)"
      [(ngModel)]="stateSelected"
    >
      <ng-option *ngFor="let state of states" [value]="state.id">{{
        state.name
      }}</ng-option>
    </ng-select>
  </div>

  <div class="col-12 col-lg-6">
    <label for="municipality" class="label">Municipio</label>
    <ng-select
      placeholder="- Seleccionar un municipio -"
      notFoundText="No hay municipios"
      (change)="municipality.setValue($event)"
      [(ngModel)]="municipalitySelected"
    >
      <ng-option
        *ngFor="let municipality of municipalities"
        [value]="municipality.id"
        >{{ municipality.name }}</ng-option
      >
    </ng-select>
  </div>
</div>
