<div>
  <div class="row form-group">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <nb-alert outline="success">
            <h6 class="text-info">
              Estatus: {{ (schoolActive$ | async) ? "Activo" : "Inactivo" }}
            </h6>
            <span>{{ (schoolActive$ | async)?.name }}</span>
          </nb-alert>
        </div>
        <div *ngIf="canInit" class="col-12 col-md-auto form-group">
          <button
            nbButton
            [attr.disabled]=" !timeOut ? true : null"
            status="success"
            (click)="onStartNewYearSchool()"
            class="btn btn-success col-12 col-lg-auto"
          >
            Iniciar un nuevo año escolar
          </button>
        </div>
        <div class="col-12">
          <hr />
        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="canEnrolled">
      <div class="row">
        <div class="col-12 col-md form-group">
          <label class="label">Escuela</label>

          <ng-select
            [items]="data$ | async"
            bindLabel="name"
            placeholder="Seleccionar escuela..."
            bindValue="projectId"
            [(ngModel)]="selectedSchool"
          >
          </ng-select>
        </div>
        <div class="col-12 col-md-auto m-inline-parcial form-group">
          <button
            (click)="onEnrolledSchool()"
            [attr.disabled]="
              selectedSchool && (schoolActive$ | async) ? null : true
            "
            nbButton
            status="success"
            style="padding-top: 0.6rem; padding-bottom: 0.6rem;"
            class="btn btn-success col-12 col-lg-auto"
          >
            Inscribir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
