<div>
  <div class="row form-group">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-auto m-inline-parcial form-group">
          <button
            nbButton
            status="success"
            style="padding-top: 0.6rem; padding-bottom: 0.6rem;"
            class="btn btn-success col-12 col-lg-auto"
          >
            Iniciar
          </button>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md form-group">
          <label class="label">Escuela</label>

          <ng-select [items]="data$ | async"
            bindLabel="name"
            placeholder="Seleccionar escuela..." 
            bindValue="id"
            [(ngModel)]="name"
            [(ngModel)]="selectedSchool">
          </ng-select>


        </div>
        <div class="col-12 col-md-auto m-inline-parcial form-group">
          <button
            [attr.disabled]="selectedSchool ? null : true"
            nbButton
            status="success"
            style="padding-top: 0.6rem; padding-bottom: 0.6rem;"
            class="btn btn-success col-12 col-lg-auto"
          >
            Inscribir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
