<div  class="col-12 form-group">
    <button nbButton status="success" class="btn btn-success col-12 col-lg-auto"
        (click)=' MODE=ACTION.CREATE; onRegister(); '>Agregar nuevo</button>
</div>

<div class="col-12">
    <div class="table-responsive">
        <ng2-smart-table (custom)="onAction($event)" [source]='learnings' [settings]="settings"></ng2-smart-table>
    </div>
</div>

<app-modal
    [ID]="ID_FORM"
    size="lg"
    [title]="'Datos del módulo de aprendizaje'">
    
        <app-view-learning content [learning]="data"></app-view-learning>
</app-modal>