:host ::ng-deep {
  table-cell-view-mode {
    div {
      .content-wrapper {
        white-space: normal !important;
        overflow: visible !important;
        text-overflow: unset !important;
        width: auto !important;
        max-width: 32rem;
        line-height: 1.4 !important;
        cursor: default;

        p {
          margin-top: 0 !important;
          margin-bottom: 0.4rem !important;

          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}
