<div class="modal-header">
  <h6 class="modal-title pull-left">
    {{ (formModeService.getMode() | async)?.label }} usuario administrador
  </h6>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div>
      <p class="text-info font-weight-bold">Datos generales</p>
      <hr />
    </div>

    <div class="row">
      <div class="col-lg-6">
        <app-reactive-input
          [label]="'Nombre'"
          [placeholder]="'Nombre'"
          [id]="'name'"
          [type]="'text'"
          [patternMessage]="nameMessage"
          [control]="form.get('firstName')"
        ></app-reactive-input>
      </div>
      <div class="col-lg-6">
        <app-reactive-input
          [label]="'Apellido'"
          [placeholder]="'Apellido'"
          [id]="'last-name'"
          [type]="'text'"
          [patternMessage]="lastNameMessage"
          [control]="form.get('lastName')"
        ></app-reactive-input>
      </div>
      <div class="col-lg-6">
        <app-reactive-input
          [label]="'Cargo'"
          [placeholder]="'Cargo'"
          [id]="'function'"
          [type]="'text'"
          [patternMessage]="functionMessage"
          [control]="form.get('function')"
        ></app-reactive-input>
      </div>
      <div class="col-lg-6">
        <app-identity-card
          [cardType]="form.get('cardType')"
          [cardId]="form.get('cardId')"
        ></app-identity-card>
      </div>
      <div class="col-lg-6">
        <app-select-role [control]="form.get('role')"></app-select-role>
      </div>
      <div class="col-lg-6">
        <app-reactive-input
          [label]="'Correo electrónico'"
          [placeholder]="'Correo electrónico'"
          [id]="'email'"
          [type]="'email'"
          [patternMessage]="emailMessage"
          [control]="form.get('email')"
        ></app-reactive-input>
      </div>

      <div class="col-lg-6">
        <app-reactive-input
          [label]="'Teléfono'"
          [placeholder]="'Teléfono'"
          [id]="'phone'"
          [type]="'tel'"
          [patternMessage]="phoneMessage"
          [control]="form.get('phone')"
        ></app-reactive-input>
      </div>

      <div class="col-lg-6">
        <app-reactive-input
          [label]="'Contraseña'"
          [placeholder]="'Máximo y mínimo 8 carácteres'"
          [id]="'password'"
          [type]="'password'"
          [control]="form.get('password')"
        ></app-reactive-input>
      </div>
    </div>

    <!-- Member the address form -->
    <app-address-form
      [address]="form.get('address')"
      [addressState]="form.get('addressState')"
      [addressMunicipality]="form.get('addressMunicipality')"
    ></app-address-form>

    <!-- Estatus -->
    <hr />
    <div class="row">
      <div class="col-lg-6">
        <app-select-status [control]="form.get('status')"></app-select-status>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <app-progress
    class="w-100"
    *ngIf="showProgress"
    (finish)="showProgress = false"
  ></app-progress>

  <button
    nbButton
    type="button"
    (click)="onSubmit()"
    [status]="
      formModality.CREATE.value === (formModeService.getMode() | async)?.value
        ? 'success'
        : 'primary'
    "
    [nbSpinner]="showProgress"
    [disabled]="showProgress"
    class="col-12 col-lg-auto"
  >
    <span *ngIf="showProgress">Guardando...</span>
    <span
      *ngIf="
        !showProgress &&
        formModality.CREATE.value === (formModeService.getMode() | async)?.value
      "
      >Registrar</span
    >

    <span
      *ngIf="
        !showProgress &&
        formModality.CREATE.value !== (formModeService.getMode() | async)?.value
      "
      >Actualizar</span
    >
  </button>
  <button
    nbButton
    outline
    type="button"
    status="basic"
    (click)="bsModalRef.hide()"
    class="col-12 col-lg-auto"
  >
    Cerrar
  </button>
</div>
