<form [formGroup]="form">
    <div class="row form-group">
        <div class="col-12">
            <app-input-custom 
                [submitted]="false"
                [control]="form.get('secondaryTitle')"
                [id]="'secondary-title'"
                [label]="'Titulo secundario'" 
                [placeholder]="'Titulo secondario'">
            </app-input-custom>
        </div>
        <div class="col-12">
            <app-text-area-custom 
                [submitted]="false"
                [control]="form.get('secondaryDescription')"
                [id]="'secondary-description'"
                [label]="'Descripción secundaria'" 
                [placeholder]="'Descripción secundaria'"
                ></app-text-area-custom>
        </div>
    </div>
</form>

<div class="text-center row d-flex justify-content-center">
    <div class="col-6 col-lg-auto">
        <button class="prev-button btn-block btn btn-outline-secondary" nbButton nbStepperPrevious>
            <nb-icon icon="arrow-back-outline"></nb-icon>
            <span class="d-none d-sm-inline">Atrás</span>
        </button>
    </div>
    <div class="col-6 col-lg-auto">
        <button 
            [attr.disabled]="form.invalid ? true : null"
            class="next-button btn-block btn btn-primary" 
            nbButton
            nbStepperNext>
            <span class="d-none d-sm-inline">Siguiente</span>
            <nb-icon icon="arrow-forward-outline"></nb-icon>
        </button>
    </div>
</div>