<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#">Amblema</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action
      class="control-item"
      icon="bell-outline"
      badgeStatus="danger"
      [badgeText]="notifications.length"
      [nbPopover]="listNotifications"
    ></nb-action>
    <nb-action
      class="control-item"
      icon="person-outline"
      [nbContextMenu]="items"
    ></nb-action>
  </nb-actions>
</div>

<ng-template #listNotifications>
  <nb-card class="mb-0 max-h">
    <nb-list *ngIf="notifications">
      <nb-list-item
        class="d-block p-3 notification"
        *ngFor="let item of notifications"
        (click)="onSelectNotification(item)"
        >
        <p class="mb-1 font-weight-bold">
          {{
            item.define === "1"
              ? "Creación de proyecto"
              : item.define === "2"
              ? "Creación de usuario"
              : item.define === "3"
              ? "Validación de proyecto "
              : "Validación de contenido"
          }}
        </p>
        <p class="mb-1" *ngIf="item.user">{{ item.user.name }}</p>
        <p class="mb-0">{{ item.createdAt | date: "dd/MM/yyyy" }}</p>
      </nb-list-item>
    </nb-list>
  </nb-card>
</ng-template>
