<nb-card>
    <nb-card-header>Planificación del lapso</nb-card-header>
    <nb-card-body>
        <!-- <app-form-file-step [label]="'Propuesta a fundación AmbLeMa'" [placeholder]="'Descripción'">
        </app-form-file-step>

        <app-form-simple-step [label]="'Reunión y aprobación de la escuela'" [placeholder]="'Descripción'">
        </app-form-simple-step> -->
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton status="success" class="btn btn-success col-12 col-lg-auto">Guardar</button>
    </nb-card-footer>
</nb-card>