<nb-card>
    <nb-card-header>Validación de información</nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <ng2-smart-table 
                (custom)="onAction($event)"
                [settings]="settings" 
                [source]="(data$ | async)"></ng2-smart-table>
        </div>

        <button (click)="onShowModal()" nbButton> Mostrar modal del taller inicial </button>

    </nb-card-body>
</nb-card>  

<app-initial-workshop-details></app-initial-workshop-details>