<div class="row">

    <div class="col-12 col-lg-3">
        <app-img-upload></app-img-upload>
    </div>

    <div class="col-12 col-lg">
        <div class="row">
            <div class="col-12 col-lg-6">
                <app-reactive-input [label]="'Nombre'" [placeholder]="'Nombre'"></app-reactive-input>
            </div>
            <div class="col-12 col-lg-6">
                <app-reactive-input [label]="'Apellido'" [placeholder]="'Apellido'"></app-reactive-input>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <app-reactive-input [label]="'Cargo'" [placeholder]="'Cargo'"></app-reactive-input>
            </div>
            <div class="col-12 col-lg-6">
                <app-text-area-description [ID]="'description'" [label]="'Descripción'"></app-text-area-description>
            </div>
        </div>
    </div>

    <div class="col-12 text-right">
        <button class="btn btn-primary col-12 col-lg-auto">Registrar</button>
    </div>
</div>