<!-- Register -->
<div class="mb-3">
    <button class="btn btn-primary col-12 col-md-auto" data-toggle="modal" [attr.data-target]="'#'+ID_FORM"
        (click)='MODE=ACTION.CREATE'>Registrar</button>
</div>

<!-- Table -->
<div class="table-responsive">
    <ng2-smart-table (custom)="onAction($event)" [source]='data' [settings]="settings"></ng2-smart-table>
</div>

<!-- Modal -->
<app-sponsors-users-form 
    [ID]="ID_FORM"
    [mode]="MODE"
    (create)="newData($event)"
    (edit)="updateData($event)"></app-sponsors-users-form>