<nb-card>
    <nb-card-header>Coordinador</nb-card-header>
    <nb-card-body>
        <app-step [label]="'Ficha de solicitud'" [id]="'request-form'"></app-step>
        <app-step-file [label]="'Enviar currículum vitae'" [id]="'send-resumen'"></app-step-file>
        <app-step [label]="'Completar los módulos de formación'" [id]="'complete-modules'"></app-step>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button class="btn btn-success col-12 col-lg-auto">Agregar paso</button>
    </nb-card-footer>
</nb-card>