<nb-card>
    <nb-card-header>Coordinador</nb-card-header>
    <nb-card-body>
        <h6 class="mb-3">Ficha de solicitud</h6>
        <app-form-file-step [placeholder]="'Ficha de solicitud'" [id]="'request-form'"></app-form-file-step>
        <h6 class="mb-3">Enviar currículum vitae</h6>
        <app-form-simple-step [placeholder]="'Enviar currículum vitae'" [id]="'send-resumen'"></app-form-simple-step>
        <h6 class="mb-3">Completar los módulos de formación</h6>
        <app-form-file-step [placeholder]="'Completar los módulos de formación'" [id]="'complete-modules'"></app-form-file-step>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button class="btn btn-success col-12 col-lg-auto">Agregar paso</button>
    </nb-card-footer>
</nb-card>