<form>
    <div class="row form-group">
        <div class="col-12">
            <app-text-area-custom [label]="'Respuesta A(Respuesta correcta)'" [placeholder]="'Respuesta'"></app-text-area-custom>
        </div>
        <div class="col-12">
            <app-text-area-custom [label]="'Respuesta B'" [placeholder]="'Respuesta'"></app-text-area-custom>
        </div>
        <div class="col-12">
            <app-text-area-custom [label]="'Respuesta C'" [placeholder]="'Respuesta'"></app-text-area-custom>    
        </div>
        <div class="col-12">
            <app-text-area-custom [label]="'Respuesta D'" [placeholder]="'Respuesta'"></app-text-area-custom>    
        </div>
    </div>
</form>