<form>
    <div class="row form-group">
        <div class="col-12">
            <app-input-custom [label]="'Respuesta A (Respuesta correcta)'" [placeholder]="'Respuesta'"></app-input-custom>
        </div>
        <div class="col-12">
            <app-input-custom [label]="'Respuesta B'" [placeholder]="'Respuesta'"></app-input-custom>
        </div>
        <div class="col-12">
            <app-input-custom [label]="'Respuesta C'" [placeholder]="'Respuesta'"></app-input-custom>    
        </div>
        <div class="col-12">
            <app-input-custom [label]="'Respuesta D'" [placeholder]="'Respuesta'"></app-input-custom>    
        </div>
    </div>
</form>