<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row form-group">
        <div class="col-12">
            <app-input-custom 
                [control]="form.get('question')"
                [id]="'question'"
                [submitted]="submitted"        
                [label]="'Pregunta'" 
                [placeholder]="'Pregunta'"></app-input-custom>
        </div>
        <div class="col-12">
            <app-input-custom 
                [control]="form.get('optionA')"
                [id]="'a'"
                [submitted]="submitted"
                [label]="'Respuesta A (Respuesta correcta)'"
                [placeholder]="'Respuesta'"></app-input-custom>
        </div>
        <div class="col-12">
            <app-input-custom 
                [control]="form.get('optionB')"
                [id]="'b'"
                [submitted]="submitted"
                [label]="'Respuesta B'"
                [placeholder]="'Respuesta'"></app-input-custom>
        </div>
        <div class="col-12">
            <app-input-custom 
                [control]="form.get('optionC')"
                [id]="'c'"
                [submitted]="submitted"
                [label]="'Respuesta C'"
                [placeholder]="'Respuesta'"></app-input-custom>
        </div>
        <div class="col-12">
            <app-input-custom 
                [control]="form.get('optionD')"
                [id]="'d'"
                [submitted]="submitted"
                [label]="'Respuesta D'"
                [placeholder]="'Respuesta'"></app-input-custom>
        </div>
        <div class="col-12 text-right">
            <button 
                type="submit" 
                [ngClass]="{    
                    'mr-xl-3' : MODE === ACTION.EDIT,
                    'btn-primary': MODE == ACTION.EDIT,
                    'btn-success': MODE == ACTION.CREATE}"
                class="btn btn-success col-12 col-lg-auto">
                <span *ngIf="MODE == ACTION.CREATE">Registrar</span>
                <span *ngIf="MODE == ACTION.EDIT">Actualizar</span>
            </button>

            <button 
                (click)="form.reset(); MODE = ACTION.CREATE"
                *ngIf="MODE == ACTION.EDIT"
                class="btn btn-outline-secondary col-12 col-xl-auto mt-3 mt-xl-0">
                Cancelar
            </button>
        </div>
    </div>
</form>
<div class="form-group">
    <hr>
</div>

<!-- Table -->
<div class="row form-group">
    <div class="col-12 form-group">
        <p class="font-weight-bold">Lista de Quizzes</p>
        <div class="table-responsive">
            <ng2-smart-table 
                (custom)="onAction($event)" 
                [source]='quizzes' 
                [settings]="settings"></ng2-smart-table>
        </div>
    </div>
</div>

<!-- Button stepper -->
<div class="text-center row d-flex justify-content-center">
    <div class="col-6 col-lg-auto">
        <button class="prev-button" class="btn-block btn btn-outline-secondary" nbButton nbStepperPrevious>
            <nb-icon icon="arrow-back-outline"></nb-icon>
            <span class="d-none d-sm-inline">Atrás</span>
        </button>
    </div>
    <div class="col-6 col-lg-auto">
        <button 
            [attr.disabled]=" quizzes.length > 0 ? null : true "
            class="next-button btn-primary btn col-12 col-lg-auto" 
            nbButton 
            nbStepperNext>
            <span class="d-none d-sm-inline">Guardar</span>
            <nb-icon icon="save-outline"></nb-icon>
        </button>
    </div>
</div>