<app-modal [ID]='ID' [size]="'lg'" [title]="title" extra="true">

    <!-- Main content -->
    <form [formGroup]="formSponsor" (keydown.enter)="onSubmit()" content>


        <!-- Personal data -->
        <div class="row">
            <div class="col-12">
                <legend class="font-weight-bold h6 text-info mb-0">Datos personales</legend>
                <hr>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <app-reactive-input [label]="'Nombre'" [placeholder]="'Nombre'"
                            [control]="formSponsor.get('name')" [submitted]="submitted"
                            [patternMessage]="MESSAGES.NAME_MESSAGE">
                        </app-reactive-input>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-reactive-input [label]="'Apellido'" [placeholder]="'Apellido'"
                            [control]="formSponsor.get('lastName')" [submitted]="submitted"
                            [patternMessage]="MESSAGES.LAST_NAME_MESSAGE">
                        </app-reactive-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6">

                        <app-reactive-input [type]="'email'" [placeholder]="'Correo'"
                            [patternMessage]="MESSAGES.EMAIL_MESSAGE" [submitted]="submitted" [label]="'Correo'"
                            [control]="formSponsor.get('email')">
                        </app-reactive-input>

                        <app-reactive-input [type]="'password'" [placeholder]="'Contraseña'"
                            [patternMessage]="MESSAGES.MAX_PW_MESSAGE" [submitted]="submitted" [label]="'Contraseña'"
                            [control]="formSponsor.get('password')"></app-reactive-input>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-id-document [placeholder]="'Identidad'" [controlSelect]="formSponsor.get('type')"
                            [submitted]='submitted' [label]="'Identidad'" [control]="formSponsor.get('document')">
                        </app-id-document>
                        <app-reactive-input [patternMessage]="MESSAGES.PHONE_MESSAGE" [placeholder]="'Teléfono'"
                            [submitted]="submitted" [label]="'Télefono'" [control]="formSponsor.get('phone')">
                        </app-reactive-input>
                    </div>
                </div>
            </div>

        </div>

        <!-- Address data -->
        <div class="row mt-3">

            <div class="col-12">
                <legend class="font-weight-bold h6 text-info mb-0">Dirección</legend>
                <hr>
            </div>

            <app-regional-addresses [state]="formSponsor.get('state')"
                [municipality]="formSponsor.get('municipality')" class="col-12">
            </app-regional-addresses>

            <div class="col-12 col-lg-6">
                <app-reactive-input [type]="'text'" [placeholder]="'Calles / Carreras'" [submitted]="submitted"
                    [label]="'Calles / Carreras'" [control]="formSponsor.get('street')">
                </app-reactive-input>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12 col-lg-6">
                <app-status-selector [label]="'Estatus'" [control]="formSponsor.get('status')" [submitted]="submitted">
                </app-status-selector>
            </div>                 
        </div>
    </form>

    <!-- Footer content -->
    <button button type="submit" (click)="onSubmit()" class="btn btn-primary col-6 col-md-auto">
        <span *ngIf="mode == ACTION.CREATE">Guardar</span>
        <span *ngIf="mode == ACTION.EDIT">Editar</span>
    </button>
</app-modal>