<app-modal [ID]='ID' [size]="'lg'" [title]="title" extra="true">

    <!-- Main content -->
    <form [formGroup]="formSponsor" (keydown.enter)="onSubmit()" content>


        <!-- Personal data -->
        <div class="row">
            <div class="col-12">
                <p class="font-weight-bold text-info mb-0">Datos personales</p>
                <hr>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <app-input-name [control]="formSponsor.get('name')" [submitted]="submitted"></app-input-name>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-input-last-name [control]="formSponsor.get('lastName')" [submitted]="submitted">
                        </app-input-last-name>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <app-input-email [control]="formSponsor.get('email')" [submitted]="submitted"></app-input-email>
                        <app-input-password [control]="formSponsor.get('password')" [submitted]="submitted">
                        </app-input-password>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-form-document [submitted]="submitted" [control]="formSponsor.get('document')"
                            [controlSelect]="formSponsor.get('type')"></app-form-document>
                        <app-input-phone [control]="formSponsor.get('phone')" [submitted]="submitted"></app-input-phone>

                    </div>
                </div>
            </div>

        </div>

        <!-- Address data -->
        <div class="row mt-3">

            <div class="col-12">
                <p class="font-weight-bold text-info mb-0">Dirección</p>
                <hr>
            </div>
            <div class="col-12">
                <app-form-regional-address [state]="formSponsor.get('state')" [municipality]="formSponsor.get('municipality')"
                    [control]="formSponsor.get('street')" [submitted]="submitted"></app-form-regional-address>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12 col-lg-6">
                <app-select-status [control]="formSponsor.get('status')" [submitted]="submitted">
                </app-select-status>
            </div>
        </div>
    </form>

    <!-- Footer content -->
    <button button type="submit" (click)="onSubmit()" class="btn btn-primary col-6 col-md-auto"
        [ngClass]="{'btn-primary': MODE == ACTION.EDIT, 'btn-success': MODE == ACTION.CREATE}">
        <span *ngIf="MODE == ACTION.CREATE">Guardar</span>
        <span *ngIf="MODE == ACTION.EDIT">Editar</span>
    </button>
</app-modal>