<!-- <div class="row">
    
    <div class="col-12 col-lg-6">
        <app-input-custom
            [label]="'Tema'" 
            [placeholder]="'Tema'"
            [id]="'topics'"></app-input-custom>
    </div>

    <div class="col-12 col-lg-6">
        <app-list-items [title]="'Lista de objetivos'"></app-list-items>
    </div>

    <div class="col-12 col-lg-6">
        <app-list-items [title]="'Lista de estrategias'"></app-list-items>
    </div>


    <div class="col-12 col-lg-6">
        <app-list-items [title]="'Lista de contenido'"></app-list-items>
    </div>
</div> -->