<nb-card>
    <nb-card-header>Padrino</nb-card-header>
    <nb-card-body>

        <h6 class="mb-3">Presentación a la escuela</h6>
        <app-form-simple-step [placeholder]="'Presentación a la escuela'" [id]="'presentation-school'"></app-form-simple-step>
        
        <h6 class="mb-3">Conoce el método AmbLeMa</h6>
        <app-form-simple-step [placeholder]="'Conoce el método AmbLeMa'" [id]="'method-amblema'"></app-form-simple-step>
        
        <h6 class="mb-3">Convenio Padrino - Escuela</h6>
        <app-form-simple-step [placeholder]="'Convenio Padrino - Escuela'" [id]="'agreed-sponsor-school'"></app-form-simple-step>
        
        <h6 class="mb-3">Convenio Escuela - Fundación</h6>
        <app-form-file-step [placeholder]="'Convenio Escuela - Fundación'" [id]="'agreed-school-fundation'"></app-form-file-step>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button (click)="modalService.open(modal)" class="btn btn-success col-12 col-lg-auto">Agregar paso</button>
    </nb-card-footer>
</nb-card>

<!-- Modal -->
<app-steps-form 
    [kind]="kind.SPONSOR"
    title="Registro de paso" 
    [id]="modal"></app-steps-form>