<nb-card>
    <nb-card-header>
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                Padrino
            </div >
            <div class="col-12 col-lg-auto">

            <button nbButton status="success" (click)="modalService.open(modal)"
            class="btn btn-success col-12 col-lg-auto">Agregar paso</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        
        <div *ngIf="steps$ | async">
            <div *ngFor="let item of steps$ | async" class="border p-3 rounded mb-4">
                <h6 class="mb-3">{{ item.name }}</h6>
                <app-form-simple-step 
                    [data]="item"></app-form-simple-step>
                
            </div>
        </div>
    </nb-card-body>
</nb-card>

<!-- Modal -->
<app-steps-form 
    [kind]="kind"
    title="Registro de paso" 
    [id]="modal"></app-steps-form>