<nb-card>
    <nb-card-header>Padrino</nb-card-header>
    <nb-card-body>
        <app-form-simple-step [label]="'Presentación a la escuela'" [id]="'presentation-school'"></app-form-simple-step>
        <app-form-simple-step [label]="'Conoce el método AmbLeMa'" [id]="'method-amblema'"></app-form-simple-step>
        <app-form-simple-step [label]="'Convenio Padrino - Escuela'" [id]="'agreed-sponsor-school'"></app-form-simple-step>
        <app-form-file-step [label]="'Convenio Escuela - Fundación'" [id]="'agreed-school-fundation'"></app-form-file-step>

        <app-form-file-step [label]="'Rellenar planilla de la escuela'" [id]="'fulling-template'"></app-form-file-step>

        <app-form-file-step [label]="'Planificación del taller inicial'" [id]="'initial-plan'"></app-form-file-step>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button class="btn btn-success col-12 col-lg-auto">Agregar paso</button>
    </nb-card-footer>
</nb-card>