<form class="row form-group">

    <div class="col-12 col-lg-auto">
        <app-input-img></app-input-img>
    </div>

    <div class="col-12 col-lg">

        <div class="row">
            <div class="col-12 col-lg-6">
                <app-input-name [submitted]="submitted" [id]="'name'"></app-input-name>
            </div>
            <div class="col-12 col-lg-6">
                <app-input-last-name [submitted]="submitted" [id]="'lastName'"></app-input-last-name>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <app-input-position [submitted]="submitted" [id]="'position'">
                </app-input-position>
            </div>
            <div class="col-12 col-lg-6">
                <app-text-area-description></app-text-area-description>
            </div>
        </div>
    </div>

    <div class="col-12 text-right">
        <button class="btn btn-success col-12 col-lg-auto" (click)="onRegister()" >Registrar</button>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <app-generic-table></app-generic-table>
    </div>
</div>