<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" pattern="^[a-z A-Zá-úÁ-Ú]*$" nbInput fullWidth status="basic"
            placeholder="Nombre" formControlName="name" class="form-group">
        <div class="alert alert-primary" role="alert" *ngIf="submitted && f.name.errors">
            <strong *ngIf="f.name.errors.required">{{ messages.textRequired }}</strong>
            <strong *ngIf="f.name.errors.pattern">{{ messages.errorName }}</strong>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">Apellido</label>
        <input type="text" pattern="^[a-z A-Zá-úÁ-Ú]*$" nbInput fullWidth status="basic" status="basic"
            class="form-group" id="lastName" placeholder="Apellido" name="lastName"
            formControlName="lastName">
        <div class="alert alert-primary" role="alert" *ngIf="submitted && f.lastName.errors">
            <strong *ngIf="f.lastName.errors.required">{{ messages.textRequired }}</strong>
            <strong *ngIf="f.lastName.errors.pattern">{{ messages.errorLastName }}</strong>
        </div>
    </div>

    <div class="form-group">
        <app-identification-document [form]="form" [submitted]="submitted"></app-identification-document>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>