<app-form-local-address
  [state]="state"
  [municipality]="municipality"
  [submitted]="submitted"
  [address]="address"
>
  <div class="col-12 col-lg-6">
    <app-input-custom
      [submitted]="submitted"
      [id]="'city'"
      [control]="addressCity"
      [label]="'Ciudad'"
      [placeholder]="'Ciudad'"
    ></app-input-custom>
  </div>

  <div class="col-12 col-lg-6">
    <app-input-custom
      [submitted]="submitted"
      [id]="'house-building'"
      [control]="addressHome"
      [label]="'Casa / Edificio'"
      [placeholder]="'Casa / Edificio'"
    ></app-input-custom>
  </div>
</app-form-local-address>
