<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="font-weight-bold">Diapositiva</p>
    <div class="row align-items-center form-group">
        <div class="col-12 col-xl form-group">
            <app-input-img [control]="form.get('image')"></app-input-img>
        </div>
        <div class="col-12 col-xl-9">
            <div class="row">
                <div class="col-12">
                    <app-text-area-description 
                        [submitted]="false"
                        [control]="form.get('description')"></app-text-area-description>
                </div>
                <div class="col-12 text-right">
                    <button 
                        [attr.disabled]="form.invalid ? true : null"
                        type="submit" 
                        class="btn btn-success col-12 col-xl-auto">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-12 form-group">
            <div class="table-responsive">
                <ng2-smart-table 
                    (custom)="onAction($event)" 
                    [source]='data$ | async' 
                    [settings]="settings"></ng2-smart-table>
            </div>
        </div>
    </div>
</form>