<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>Coordinadores</nb-card-header>
            <nb-card-body>
                <div class="row">

                    <!-- Image background -->
                    <div class="col-12 form-group">
                        <p class="font-weight-bold">Sección principal</p>
                        <app-input-img 
                            [control]="form.get('backgroundImage')"
                            [align]="'left'"></app-input-img>
                    </div>

                    <!-- Testimonial form -->
                    <div class="col-12 form-group">
                        <hr>
                        <p class="font-weight-bold">Testimonio de los coordinadores</p>
                        <app-testimonial-form 
                            (delete)="onDeleteTestimonial($event)"
                            (edit)="onEditTestimonial($event)"
                            (register)="onRegisterTestimonial($event)"
                            [testimonials]="testimonials"></app-testimonial-form>
                    </div>

                    <!-- Steps to be a sponsor -->
                    <div class="col-12 form-group">
                        <hr>
                        <p class="font-weight-bold">¿Cómo ser un coordinador?</p>
                        <app-text-area-custom 
                            *ngFor="let item of steps.controls; let i = index;" 
                            [control]="form.get('steps').get(''+i)"
                            label='Paso {{i + 1}}' 
                            placeholder='Paso {{i + 1}}' 
                            [submitted]="submitted"
                            id='step-{{i}}'></app-text-area-custom>
                    </div>

                    <!-- Save changes -->
                    <div class="col-12 text-right">
                        <hr>
                        <app-progress *ngIf="showProgress" class="form-group text-left"></app-progress>
            
                        <button 
                            [ngClass]="{'mt-3': showProgress}"
                            [attr.disabled]="showProgress ? true : null"
                            [nbSpinner]="showProgress ? true : null" 
                            nbSpinnerStatus="success"
                            nbButton 
                            class="btn btn-primary col-12 col-lg-auto" (click)="onSave()">Guardar cambios</button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>