<ul class="list-group">
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <label for="customSwitch1" class="mb-0">Información de la escuela</label>
            
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1"></label>
        </div>
    </li>
    <li class="list-group-item d-flex align-items-center justify-content-between">

        <label for="customSwitch2" class="mb-0">Estadísticas y testimonio principal</label>
            
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2"></label>
        </div>
    </li>
    <li class="list-group-item d-flex align-items-center justify-content-between">

        <label for="customSwitch3" class="mb-0">Testimonio de los padres</label>
            
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch3">
            <label class="custom-control-label" for="customSwitch3"></label>
        </div>
    </li>
    <li class="list-group-item d-flex align-items-center justify-content-between">

        <label for="customSwitch4" class="mb-0">Reconocimientos</label>
            
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch4">
            <label class="custom-control-label" for="customSwitch4"></label>
        </div>
    </li>
</ul>