<nb-card>
    <nb-card-header>Generales</nb-card-header>
    <nb-card-body>
        <app-form-simple-step [label]="'Encontrar una escuela'" [id]="'step-schools'"></app-form-simple-step>
        <app-form-simple-step [label]="'Encontrar un padrino'" [id]="'step-sponsors'"></app-form-simple-step>
        <app-form-simple-step [label]="'Encontrar un coordinador'" [id]="'step-coordinator'"></app-form-simple-step>
        <app-form-simple-step [label]="'Conformación de AmbleMa'" [id]="'step-amblema'"></app-form-simple-step>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button class="btn btn-success col-12 col-lg-auto">Agregar paso</button>
    </nb-card-footer>
</nb-card>