<div class="form-group">
    <div class="form-row">

        <div class="col">
            <label [for]="label" class="label text-muted" *ngIf="label != ''">Tipo</label>
            <select [formControl]='controlSelect' class="form-control" (change)='this.changeDocument($event.target.value)'>
                <option *ngFor='let item of types' [value]='item.value' >{{ item.value }}</option>
            </select>
        </div>

        <div class="col-7">
            <label [for]="label" class="label text-muted" *ngIf="label != ''"> {{ label }} </label>
            <input 
                [id]='fieldId'
                [type]='type'
                [formControl]="control"
                [autocomplete]="'off'"
                class="form-control form-group" />
            <app-reactive-validation [patternMessage]='message' [validationErrors]="validationErrors">
            </app-reactive-validation>
        </div>
    </div>
</div>