<nb-accordion multi>
    <nb-accordion-item expanded="true">
        <nb-accordion-item-header>
            Lapso 1
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <app-activity-board [lapse]="'1'"></app-activity-board>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
            Lapso 2
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <app-activity-board [lapse]="'2'"></app-activity-board>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
            Lapso 3
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <app-activity-board [lapse]="'3'"></app-activity-board>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>