<app-modal [ID]='ID' [size]="'lg'" [title]="title" extra="true">

    <!-- Main content -->
    <form [formGroup]="form" (keydown.enter)="onSubmit()" content>

        <!-- Personal data -->
        <div class="row">
            <div class="col-12">
                <p class="font-weight-bold text-info mb-0">Datos de la empresa</p>
                <hr>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 form-group">
                        <label class="label">Cargar imagen</label>
                        <app-input-img 
                            [control]="form.get('image')"
                            [align]="'left'"></app-input-img>
                    </div>
                    <div class="col-12">
                        <app-input-custom 
                            [control]="form.get('url')"
                            [submitted]="submitted"
                            [patternMsg]="'Introduzca una URL valida'"
                            [label]="'URL del sitio web'"  
                            [placeholder]="'URL del sitio web'"></app-input-custom>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <app-input-custom 
                            [placeholder]="'Nombre de la empresa'"
                            [label]="'Nombre de la empresa'"
                            [control]="form.get('name')" 
                            [submitted]="submitted"></app-input-custom>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-form-document 
                            [onlyCompany]="true"
                            [submitted]="submitted"
                            [control]="form.get('document')"
                            [controlSelect]="form.get('type')"></app-form-document>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 col-lg-6">
                        <app-input-custom 
                            [submitted]="submitted"
                            [id]="'type-company'"
                            [placeholder]="'Tipo de empresa'"
                            [label]="'Tipo de empresa'"></app-input-custom>
                    </div>
                    
                    <div class="col-12 col-lg-6">
                        <app-input-custom 
                            [id]="'contact-name'"
                            [label]="'Nombre de la persona de contacto'"
                            [placeholder]="'Nombre de la persona de contacto'"
                            [submitted]="submitted"></app-input-custom>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-input-custom 
                            [id]="'contact-last-name'"
                            [label]="'Apellido de la persona de contacto'"
                            [placeholder]="'Apellido de la persona de contacto'"
                            [submitted]="submitted"></app-input-custom>
                    </div>
        
                    <div class="col-12 col-lg-6">
                        <app-input-custom 
                            [id]="'company-phone'"
                            [label]="'Teléfono de la empresa'"
                            [placeholder]="'Teléfono de la empresa'"
                            [submitted]="submitted"></app-input-custom>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-input-custom 
                            [id]="'personal-phone'"
                            [label]="'Teléfono personal'"
                            [placeholder]="'Teléfono personal'"
                            [submitted]="submitted"></app-input-custom>
                    </div>
        
                    <div class="col-12 col-lg-6">
                        <app-input-custom 
                            [id]="'city'"
                            [label]="'Ciudad'"
                            [placeholder]="'Ciudad'"
                            [submitted]="submitted"></app-input-custom>
                    </div>
                    
                    <div class="col-12 col-lg-6">
                        <app-input-email [control]="form.get('email')" [submitted]="submitted"></app-input-email>
                        <app-input-password [control]="form.get('password')" [submitted]="submitted">
                        </app-input-password>
                    </div>

                    <div class="col-12 col-lg-6">
                        <app-input-phone [control]="form.get('phone')" [submitted]="submitted"></app-input-phone>
                    </div>
                </div>
            </div>
        </div><!-- / End personal data -->

        <!-- Company Data -->
        <!-- <div class="row mt-3">
            <div class="col-12">
                <p class="font-weight-bold text-info mb-0">Datos de la empresa</p>
                <hr>
            </div>

            <div class="col-12 col-lg-6">
                <app-input-custom 
                    [submitted]="submitted"
                    [id]="'id-company'"
                    [placeholder]="'RIF de la empresa'"
                    [label]="'RIF de la empresa'"></app-input-custom>
            </div>
        </div> -->

        <!-- Address data -->
        <div class="row mt-3">
            <div class="col-12">
                <p class="font-weight-bold text-info mb-0">Dirección</p>
                <hr>
            </div>
            <div class="col-12">
                <app-form-regional-address [state]="form.get('state')" [municipality]="form.get('municipality')"
                    [control]="form.get('street')" [submitted]="submitted"></app-form-regional-address>
            </div>
        </div><!-- / End address data -->

        <div class="row">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12 col-lg-6">
                <app-select-status [control]="form.get('status')" [submitted]="submitted">
                </app-select-status>
            </div>
        </div>
    </form><!-- / End main content -->

    <!-- Footer content -->
    <button button type="submit" (click)="onSubmit()" class="btn btn-primary col-6 col-md-auto"
        [ngClass]="{'btn-primary': MODE == ACTION.EDIT, 'btn-success': MODE == ACTION.CREATE}">
        <span *ngIf="MODE == ACTION.CREATE">Guardar</span>
        <span *ngIf="MODE == ACTION.EDIT">Editar</span>
    </button>
</app-modal>