<nb-card>
    <nb-card-header>Escuela</nb-card-header>
    <nb-card-body>
        <h6 class="mb-3">Presentación del padrino</h6>
        <app-form-simple-step [placeholder]="'Presentación del padrino'" [id]="'presentation-sponsor'"></app-form-simple-step>
        <h6 class="mb-3">Convenio Padrino - Escuela</h6>
        <app-form-simple-step [placeholder]="'Convenio Padrino - Escuela'" [id]="'agreement-sponsor-school'"></app-form-simple-step>
        <h6 class="mb-3">Convenio Escuela - Fundación</h6>
        <app-form-file-step [placeholder]="'Convenio Escuela - Fundación'" [id]="'agreement-school-fundation'"></app-form-file-step>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button (click)="modalService.open(modal)" class="btn btn-success col-12 col-lg-auto">Agregar paso</button>
    </nb-card-footer>
</nb-card>

<!-- Modal -->
<app-steps-form 
    [kind]="kind.SCHOOL"
    title="Registro de paso" 
    [id]="modal"></app-steps-form>