<hr />
<p class="font-weight-bold">Información General</p>
<app-text-area-custom
  [max]="about"
  [control]="form.get('aboutUsText')"
  [submitted]="false"
></app-text-area-custom>
<hr />
<p class="font-weight-bold">Pilares Fundamentales</p>
<div class="form-group">
  <app-text-area-custom
    [submitted]="false"
    class="form-group"
    [max]="enviroment"
    [control]="form.get('environmentText')"
  ></app-text-area-custom>
</div>
<div class="form-group">
  <app-text-area-custom
    [submitted]="false"
    class="form-group"
    [max]="reading"
    [control]="form.get('readingText')"
  ></app-text-area-custom>
</div>
<div class="form-group">
  <app-text-area-custom
    [submitted]="false"
    class="form-group"
    [max]="math"
    [control]="form.get('mathText')"
  ></app-text-area-custom>
</div>
