<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>Blog</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="input-group mb-3">
                            <input 
                                [(ngModel)]="searchText"
                                autocomplete="off"
                                type="text" 
                                nbInput 
                                placeholder="Buscar" 
                                fullWidth 
                                class="col border-right-0">
                            <div class="input-group-append">
                                <button class="btn btn-outline-info" type="button" id="button-addon2">
                                    <nb-icon icon="search-outline"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 text-right">
                        <button class="col-12 col-lg-auto btn btn-success" data-toggle="modal"
                            [attr.data-target]="'#'+ID_FORM" (click)='MODE=ACTION.CREATE'>Registrar</button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="columm-post">

    <div class="card-post" *ngFor="let item of data$ | async | filter:searchText">
        <app-blog-card 
            (edit)="onEditPost($event)"
            (delete)="onDeletePost($event)"
            [data]="item"></app-blog-card>
    </div>

</div>

<nb-card *ngIf="(posts.length <= 0) || ((data$ | async | filter: searchText).length === 0)">
    <nb-card-body>
        No hay registro de posts.
    </nb-card-body>
</nb-card>

<app-blog-form 
    (edit)="onEditPostForm($event)"
    (register)="onRegisterPost($event)"
    [DATA]="postSelected"
    [ID]="ID_FORM" 
    [MODE]="MODE"></app-blog-form>
