
<form *ngIf="active">
  <div class="modal-header">
    <h6 class="modal-title pull-left">
      {{ title }}
    </h6>
    <button
      type="button"
      class="close pull-right"
      (click)="hideConfirmationModal()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <h6 class="text-danger font-weight-light">{{ body }}</h6>
    
  </div>
  <div class="modal-footer">
    <button type="button" (click)="onConfirm()" nbButton status="danger">
      Confirmar
    </button>
    <button type="button" nbButton outline status="basic" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
