<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>Inicio</nb-card-header>
      <nb-card-body>

        <div class="row">

          <!-- Slider -->
          <div class="col-12 form-group">
            <app-form-slider 
              (delete)="onDeleteSlider($event)"
              (edit)="onEditSlider($event)"
              (register)="onRegisterSlider($event)"
              [sliders]="sliders"></app-form-slider>
          </div>

          <!-- Content-->
          <div class="col-12">
            <app-content-text 
              [form]="form"
              ></app-content-text>
          </div>

          <!-- Form -->
          <div class="col-12">
            <hr>
            <p class="font-weight-bold">Testimonio de los fundadores</p>
          </div>
          <app-testimonial-form 
            (delete)="onDeleteTestimonial($event)"
            (edit)="onEditTestimonial($event)"
            (register)="onRegisterTestimonial($event)"
            [testimonials]="testimonials"
            class="col-12"></app-testimonial-form>

          <!-- Save changes -->
          <div class="col-12 text-right">
            <hr>
            <button 
              nbButton
              (click)="onSaveWebHome()"
              class="btn btn-primary col-12 col-lg-auto">Guardar cambios</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>