<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>Inicio</nb-card-header>
      <nb-card-body>

        <div class="row">

          <!-- Slides -->
          <div class="col-12 form-group">
            <app-slide-form></app-slide-form>
          </div>

          <!-- Content-->
          <div class="col-12">
            <app-content-text></app-content-text>
          </div>
          
          <!-- <div class="col-12">
            <hr>
            <p class="font-weight-bold">Texto acerca de nosotros</p>
            <app-app-text-area-description [ID]="'about-us'" [label]="'Acerca de nosotros'"></app-app-text-area-description>
          </div>

          <div class="col-12">
            <hr>
            <p class="font-weight-bold">Pilares fundamentales</p>
            <app-pillars></app-pillars>
          </div>

          <div class="col-12 form-group">
            <hr>
            <p class="font-weight-bold">Testimonio de los fundadores</p>
            <app-founders-form></app-founders-form>
          </div>

          <div class="col-12 form-group">
            <app-founders-table></app-founders-table>
          </div> -->

          <div class="col-12 text-right">
            <hr>
            <div class="btn btn-primary col-12 col-lg-auto">Guardar cambios</div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div> 