<div class="row">
    <div class="col-12">
      <nb-card>
          <nb-card-header>Página de inicio</nb-card-header>
          <nb-card-body>    
            
            <div class="row">
              
              <!-- Form slide and table -->
              <div class="col-12">
                <app-slide-form></app-slide-form>
              </div>

              <!-- About text area -->
              <div class="col-12">

              </div>

              <!-- Pillars -->
              <div class="col-12">

              </div>

              <!-- Awards -->
              <div class="col-12">

              </div>

              <!-- Table awards -->
              <div class="col-12">

              </div>
            </div>
          </nb-card-body>
      </nb-card>
    </div>
  </div>