<div class="modal fade" [id]="ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" [ngClass]="{'modal-xl': size == 'lg', 'modal-lg': size == 'normal', 'modal-sm' : size == 'sm'}">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">{{title}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content select="[content]"></ng-content>
      </div>
      <div class="modal-footer d-flex justify-content-center justify-content-md-end flex-nowrap">
        <button nbButton outline status="basic" class="col-md-auto" 
          [ngClass]="{ 'col-6': extra, 'col-12': extra == false}" data-dismiss="modal">Cerrar</button >
        <ng-content select="[button]"></ng-content>
      </div>
    </div>
  </div>
</div>