<div>
    <div class="row form-group">
        <div class="col-12">
            <label class="label">Tipo de archivo</label>
        </div>
        <div class="col-12 form-group">
            <nb-radio-group [(ngModel)]="option" class="d-inline-flex">
                <nb-radio
                    *ngFor="let option of options"
                    [value]="option.value">{{ option.label }}</nb-radio>
            </nb-radio-group>
        </div>

        <div class="col-12 col-lg-4">
            <app-input-custom 
                *ngIf="option == options[1].value"
                [id]="'url-video'" 
                [label]="'URL del video'"
                [submitted]="false" 
                [placeholder]="'URL del video'">
            </app-input-custom>
            <label 
                *ngIf="option == options[0].value"
                class="label text-center w-100">Imagen</label>
            <div *ngIf="option == options[0].value" class="form-group">
                <app-input-img 
                    [align]="'center'"
                    *ngIf="option == options[0].value"
                    [id]="'image-learning-step-two'"></app-input-img>
            </div>
        </div>

        <div class="col-12 col-lg-8">
            <app-text-area-description [submitted]="false"></app-text-area-description>
        </div>

        <!-- Button -->
        <div class="col-12 text-right">
            <button class="btn btn-success">
                <span>Registrar</span>
            </button>
        </div>

    </div>

    <!-- Buttons stepper -->
    <div class="row">
        <div class="col-12 form-group">
            <div class="text-center row d-flex justify-content-center">
                <div class="col-6 col-lg-auto">
                    <button class="prev-button" class="btn-block btn btn-outline-secondary" nbButton nbStepperPrevious>
                        <nb-icon icon="arrow-back-outline"></nb-icon>
                        <span class="d-none d-sm-inline">Atrás</span>
                    </button>
                </div>
                <div class="col-6 col-lg-auto">
                    <button class="next-button" class="btn-block btn btn-primary" nbButton nbStepperNext  (click)="onSaveStepTwo()">
                        <span class="d-none d-sm-inline">Siguiente</span>
                        <nb-icon icon="arrow-forward-outline"></nb-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>