
<form [formGroup]="formMedia">
    <div class="row form-group">

        <!-- Radio media -->
        <div class="col-12">
            <label class="label">Tipo de archivo</label>
        </div>
        <div 
            class="col-12 form-group">
            <nb-radio-group 
                name="disabled" 
                formControlName="type" 
                class="d-inline-flex">
                <nb-radio
                    (click)="changeTypeFile()"
                    *ngFor="let option of options"
                    [value]="option.value">{{ option.label }}</nb-radio>
            </nb-radio-group>
        </div>

        <!-- Media fields -->
        <div 
            [ngClass]="{
                'col-lg-5': formMedia.controls['type'].value == options[1].value, 
                'col-lg-4': formMedia.controls['type'].value == options[0].value}"
            class="col-12">
            <app-input-custom 
                *ngIf="formMedia.controls['type'].value == options[1].value"
                [id]="'url-video'" 
                [label]="'URL del video'"
                [submitted]="false" 
                [control]="formMedia.get('url')"
                [placeholder]="'URL del video'">
            </app-input-custom>
            <label 
                *ngIf="formMedia.controls['type'].value == options[0].value"
                class="label text-center w-100">Imagen</label>
            <div *ngIf="formMedia.controls['type'].value == options[0].value" class="form-group">
                <app-input-img 
                    [control]="formMedia.get('url')"
                    [align]="'center'"
                    *ngIf="formMedia.controls['type'].value == options[0].value"
                    [id]="'image-learning-step-two'"></app-input-img>
            </div>
        </div>

        <!-- Textarea -->
        <div class="col-12"
            [ngClass]="{
                'col-lg-7': formMedia.controls['type'].value == options[1].value, 
                'col-lg-8': formMedia.controls['type'].value == options[0].value}">
            <app-text-area-custom
                [label]="'Descripción'"
                [placeholder]="'Descripción'" 
                [max]="71"
                [control]="formMedia.get('description')"
                [submitted]="false"></app-text-area-custom>
        </div>

        <!-- Button -->
        <div class="col-12 text-right mt-3">
            <button nbButton 
                status="basic"
                (click)="   
                    MODE = ACTION.CREATE; 
                    fileBackUp = null; 
                    formMedia.controls['url'].reset();
                    formMedia.controls['description'].reset()"
                *ngIf="formMedia.controls['url'].valid || MODE === ACTION.EDIT ? true : null"
                class="btn btn-outline-info mr-2">
                <span>Cancelar</span>
            </button>
            <button 
                status="MODE == ACTION.CREATE ? 'success' : 'primary'"
                nbButton 
                (click)="onMedia()" 
                class="btn"
                [ngClass]="{'btn-success': MODE == ACTION.CREATE, 'btn-primary': MODE == ACTION.EDIT}" 
                [attr.disabled]="formMedia.invalid ? true : null">
                <span *ngIf="MODE == ACTION.CREATE">Registrar</span>
                <span *ngIf="MODE == ACTION.EDIT">Editar</span>
            </button>
        </div>
    </div>

    <!-- Table -->
    <div class="row form-group">
        <div class="col-12 form-group">
            <div class="table-responsive">
                <ng2-smart-table 
                    (custom)="onAction($event)" 
                    [source]='sliders' 
                    [settings]="settings"></ng2-smart-table>
            </div>
        </div>    
    </div>
    
    <!-- Buttons stepper -->
    <div class="row">
        <div class="col-12">
            <div class="text-center row d-flex justify-content-center">
                <div class="col-6 col-lg-auto">
                    <button 
                        status="basic"
                        outline
                        class="btn-block btn btn-outline-secondary" nbButton nbStepperPrevious>
                        <nb-icon icon="arrow-back-outline"></nb-icon>
                        <span class="d-none d-sm-inline">Atrás</span>
                    </button>
                </div>
                <div class="col-6 col-lg-auto">
                    <button nbButton class="next-button" class="btn-block btn btn-primary" nbButton nbStepperNext  (click)="onSaveStepTwo()">
                        <span class="d-none d-sm-inline">Siguiente</span>
                        <nb-icon icon="arrow-forward-outline"></nb-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>