<nb-card>
    <nb-card-header>Taller inicial</nb-card-header>
    <nb-card-body>
        <app-form-file-step [label]="'Carta de convenio con la escuela'" [placeholder]="'Descripción'">
        </app-form-file-step>

        <app-form-file-step [label]="'Reunión para la planificación del taller'" [placeholder]="'Descripción'">
        </app-form-file-step>

        <app-form-file-step [label]="'Reunión inicial con docentes'" [placeholder]="'Descripción'"></app-form-file-step>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button class="btn btn-success col-12 col-lg-auto">Guardar</button>
    </nb-card-footer>
</nb-card>