<div class="row">
    <div class="col-12">
        <app-input-file></app-input-file>
    </div>
    <div class="col-12 col-md order-12 order-md-0 form-group">
        <app-text-area-custom [id]="id" [label]="label" [placeholder]="placeholder">
        </app-text-area-custom>

        <app-input-custom 
            [submitted]="false"
            [placeholder]="'Video URL'" 
            [label]="'Video URL'"></app-input-custom>
    </div>
    <div class="col-12 col-md-auto pt-0 pt-md-4 order-0 order-md-12 form-group justify-content-between d-flex"
    [ngClass]="{'pt-md-4': label}"
    style="display: -webkit-box;">
        <app-toggle [id]="id+'toggle'" value="true" class="d-block mx-2"></app-toggle>
        <div>
            <button class="btn btn-primary" >
                <nb-icon icon="edit-outline"></nb-icon>
            </button>
        </div>
    </div>
</div>