@import '../mixins';

.m-inline-form {
    margin-top: 26px;
}

.m-inline-parcial {
    @include screen( $breakpoint-md ) {
        margin-top: 26px;
    }
}

.lg-inline-parcial {
    @include screen( $breakpoint-lg ) {
        margin-top: 26px;
    }
}