// Webkit:
// Hide number picker
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Show number picker on focus
input[type="number"]:focus::-webkit-inner-spin-button,
input[type="number"]:focus::-webkit-outer-spin-button,
input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  margin: 0 2px 0 0;
}

// Firefox:
// Hide number picker
input[type="number"] {
  -moz-appearance: textfield;
}

// Show number picker on focus
input[type="number"]:focus,
input[type="number"]:hover {
  -moz-appearance: number-input;
}
