<div class="row">
  <div class="col">
    <label class="label">Tipo</label>
    <select
      class="form-control"
      [formControl]="cardType"
      (change)="updateValidation($event.target.value)"
    >
      <option *ngFor="let item of types" [value]="item.value">{{
        item.label
      }}</option>
    </select>
  </div>
  <div class="col-7">
    <app-reactive-input
      [nbTooltip]="tooltipMsg"
      nbTooltipPlacement="right"
      [label]="'Identidad'"
      [placeholder]="'Identidad'"
      [id]="'identity-card'"
      [type]="'text'"
      [patternMessage]="'Cédula inválida, ingresa una cédula correcta'"
      [control]="cardId"
    ></app-reactive-input>
  </div>
</div>
