<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>Nosotros</nb-card-header>
            <nb-card-body>

                <div class="row">
                    <div class="col-12 form-group">
                        <app-form-slider></app-form-slider>
                    </div>

                    <div class="col-12">
                        <app-content-text 
                            [form]="form"></app-content-text>
                    </div>

                    <div class="col-12">
                        <hr>
                        <p class="font-weight-bold">Premios y reconocimientos</p>

                        <app-about-form></app-about-form>
                    </div>

                    <div class="col-12 text-right">
                        <hr> 
                        <button class="btn btn-primary col-12 col-lg-auto">Guardar cambios</button>  
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>