<nb-accordion class="shadow-none border">
    <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>
            <div>
                <nb-icon icon="bookmark-outline" class="mr-2"></nb-icon> {{form.get('name').value ? form.get('name').value : 'Tema' }} #{{index + 1}}
            </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <form [formGroup]="form" (ngSubmit)="onUpdateTopic()" class="row">
                <div class="col-12 form-group text-right">
                    <button 
                        (click)="deleteHimself()"
                        class="col-12 col-lg-auto mr-0 mr-lg-3 mb-3 mb-lg-0"
                        nbButton 
                        size="small" 
                        outline 
                        status="danger" 
                        type="button" 
                        nbTooltip="Eliminar tema">
                        Eliminar tema<nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                    <button 
                        class="col-12 col-lg-auto"
                        size="small"
                        nbButton 
                        type="submit" 
                        status="primary">Guardar datos del tema<nb-icon icon="save-outline"></nb-icon></button>
                </div>

                <div class="col-12">
                    <app-input-custom 
                        [submitted]="false"
                        [control]="form.get('name')"
                        [label]="'Tema'" 
                        [placeholder]="'Tema'" ></app-input-custom>
                </div>

                <div class="col-12 col-lg-6">
                    <app-list-items 
                        (delete)="objectives=$event"
                        [list]="objectives"
                        [title]="'Lista de objetivos'"></app-list-items>
                </div>

                <div class="col-12 col-lg-6">
                    <app-list-items 
                        (delete)="strategies=$event"
                        [list]="strategies"
                        [title]="'Lista de estrategias'"></app-list-items>
                </div>

                <div class="col-12 col-lg-6">
                    <app-list-items 
                        (delete)="contents=$event"
                        [list]="contents"
                        [title]="'Lista de contenido'"></app-list-items>
                </div>

                <div class="col-12">
                    <hr>
                    <button 
                        size="small"
                        nbButton 
                        type="button"
                        status="success" 
                        (click)="addLevel()" class="form-group">CREAR NIVEL <nb-icon
                            icon="plus-outline"></nb-icon></button>
                    <div class="row">
                        <div class="col-12 form-group" *ngFor="let item of levels; let i = index">
                            <app-levels-form [index]="i" [indexTopic]="index"></app-levels-form>
                        </div>
                    </div>
                </div>
            </form>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>