<div class="row">
    <!-- State -->
    <div class="col-12 col-lg-6 form-group">
        <label for="state" class="label">Estados</label>
        <select fullWidth name="state" id="state" hero [formControl]='state' class="form-control">
            <option *ngFor='let item of statesData' [value]='item.value'>{{ item.value }}</option>
        </select>
    </div>

    <!-- Municipality -->
    <div class="col-12 col-lg-6 form-group">
        <label for="municipality" class="label">Municipios</label>
        <select fullWidth name="municipality" id="municipality" hero [formControl]='municipality' class="form-control">
            <option *ngFor='let item of municipalityData' [value]='item.value'>{{ item.value }}</option>
        </select>
    </div>

    <div class="col-12 col-lg-6 form-group">
        <app-input-custom [id]="'street'" [placeholder]="'Calles / Carrera'" [label]="'Calles / Carrera'" [control]="control" [submitted]="submitted"></app-input-custom>
    </div>
</div>