<nb-card>
    <nb-card-header>Proyectos</nb-card-header>
    <nb-card-body>

        <!-- Button Create -->
        <div>
            <button nbButton 
                status="success"
                (click)="modal.open(MODAL); MODE = ACTION.CREATE; clear()" 
                class="mb-3 btn btn-success col-12 col-md-auto">Registrar</button>
        </div>

        <!-- Table -->
        <div class="table-responsive">
            <ng2-smart-table 
                (custom)="onAction($event)" 
                [source]='projects$ | async' 
                [settings]="settings"></ng2-smart-table>
        </div>
    </nb-card-body>
</nb-card>

<app-project-form [mode]="MODE" [MODAL]="MODAL"></app-project-form>


