<form [formGroup]="formRole" action="">
    <div class="row">
        <div class="col-12 col-lg-8">
            <app-input-custom
            [label]="'Rol'"
            [placeholder]="'Rol'"
            [control]="formRole.get('role')"
            [submitted]="submitted"></app-input-custom>
        </div>

        <div class="col-12 col-md">
            <app-select-status 
                
                [control]="formRole.get('status')"
                [submitted]='submitted'>
            </app-select-status>
        </div>
        <div class="col-12 col-md">
            <button nbButton 
            [nbSpinner]="showProgress ? true: null" nbSpinnerStatus="success"
            [attr.disabled]="showProgress ? true: null"
            [status]="MODE == ACTION.CREATE ? 'success' : 'primary'"
            class="btn-block m-inline-parcial"
            style="padding-top: 0.6rem; padding-bottom: 0.6rem;"
            [ngClass]="{'btn-success': MODE == ACTION.CREATE, 'btn-primary': MODE == ACTION.EDIT}"
            (click)="onSubmit()">
                <span *ngIf="MODE == ACTION.CREATE">Guardar</span>
                <span *ngIf="MODE == ACTION.EDIT">Actualizar</span>
            </button>
        </div>

        <div class="col-12">
            <app-progress *ngIf="showProgress"></app-progress>
        </div>
    </div>
</form>