<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row">
    <div class="col-12 form-group">
        <app-toggle [id]="data.id+'toggle'" [control]="form.get('status')"
            [label]="form.get('status').value ? 'Paso activado' : 'Paso desactivado'" class="d-block mx-2"></app-toggle>
    </div>
    <div class="col-12 col-md ">
        <app-text-area-custom 
            *ngIf="data.hasText" 
            [submitted]="false" 
            [control]="form.get('text')" 
            [id]="data.id + 'text'"
            [label]="label" 
            [placeholder]="data.name">
        </app-text-area-custom>
    </div>
    <div class="col-12">
        <app-input-custom 
            *ngIf="data.hasVideo" 
            [id]="data.id + 'video'" 
            [submitted]="false"
            [control]="form.get('video')" 
            [placeholder]="'URL del video'" 
            [label]="'URL del video'"></app-input-custom>
    </div>

    <div class="col-12">
        <label for="" class="label">Aprobación</label>
            <select formControlName="approvalType" class="form-control form-group">
                <option value="null" disabled> - Seleccione el tipo de aprobación - </option>
                <option *ngFor="let item of APPROVAL_TYPE" [value]="item.CODE">{{ item.VALUE }}</option>
            </select>
    </div>

    <div class="col-12" *ngIf="data.hasFile">
        <app-input-file 
            [id]="data.id+'file'"
            [submitted]="false" 
            [control]="form.get('file')">

        </app-input-file>
    </div>

    <p *ngIf="data.hasChecklist">Lista</p>

    <div class="col-12 form-group text-right">
        
        <button [attr.disabled]=" form.invalid ? true : null " nbButton type="submit" status="primary"
            class="col-12 col-md-auto">
            Guardar <nb-icon icon="edit-outline"></nb-icon>
        </button>

        <button *ngIf="!data.isStandard" (click)="onDelete()" nbButton status="danger"
            class="col-12 col-md-auto ml-md-3 mt-3 mt-md-0">
            Eliminar <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
    </div>
</form>