<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>Padrinos</nb-card-header>
            <nb-card-body>

                <div class="row">

                    <div class="col-12 form-group">
                        <p class="font-weight-bold">Sección principal</p>
                        <app-input-img align='left'></app-input-img>
                    </div>

                    <div class="col-12">
                        <hr>
                        <p class="font-weight-bold">Testimonio de los padrinos</p>
                        <app-sponsor-form></app-sponsor-form>
                    </div>


                    <div class="col-12 text-right">
                        <hr>
                        <div class="btn btn-primary col-12 col-lg-auto">Guardar cambios</div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>