/* You can add global styles to this file, and also import other style files */
@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

body {
  font-family: nb-theme(font-family-primary);
  color: nb-theme(text-basic-color);
}

  thead {
    .ng2-smart-actions {
      border-top: 1px solid #edf1f7!important;
      border-bottom: none!important;
    }  
  }

  .ng2-smart-actions {
    border: none!important;
    border-left: 1px solid #edf1f7!important;
    border-bottom: 1px solid #edf1f7!important;
  }

 .nb-theme-default ng2-smart-table .ng2-smart-actions {
   
    width: 100%;
    height: 100%;

    display: flex;

    ng2-st-tbody-custom {
      width: 100%;
      a {
        border-right: 1px solid #edf1f7;
      }
    
     ng2-st-tbody-edit-delete {
       width: 70%;
     }
    }
 }