@import '../../../assets/scss/mixins';

img {
    @include screen($breakpoint-xs) {
        width: 100%;
    }
    @include screen($breakpoint-md) {
        width: 20rem;
    }   
    @include screen($breakpoint-lg) {
        width: 25rem;
    }   
    @include screen($breakpoint-xl) {
        width: 30rem;
    }   
}

:host {
    height: 100%;
    display: block;

    nb-card {
        height: 100%;
        margin: 0;

        nb-card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: inherit;
        }
    }
}