<div class="text-editor">
  <div *ngIf="show && control">
    <label class="label">{{ label }}</label>
    <quill-editor
      class="quill-editor--textarea"
      [placeholder]="placeholder"
      [formControl]="control"
      [styles]="styles"
      [(ngModel)]="value"
    ></quill-editor>
    <small *ngIf="maxLength > 0" class="mt-2 d-block label text-right">
      {{ length }} / {{ maxLength }}</small
    >

    <!-- [maxLength]="maxLength ? maxLength : null" -->
    <!-- <app-reactive-validation
      [patternMessage]="patternMsg"
      [validationErrors]="validationErrors"
    ></app-reactive-validation> -->
  </div>
</div>
