<div class="row">
    <div class="col-12 col-lg-6">
        <p class="font-weight-bold text-info mb-0">Datos de la escuela</p>
        <hr>
        <div class="row">
            <div class="col-12">
                <p class="d-flex w-100"><span
                        class="pl-0 font-weight-bold col-5">Nombre:</span><span>{{ data.name }}</span></p>

                <!-- <p class="d-flex w-100"><span
                        class="pl-0 font-weight-bold col-5">Teléfono:</span><span>{{ data.companyPhone }}</span></p>

                <p class="d-flex w-100"><span
                        class="pl-0 font-weight-bold col-5">Correo:</span><span>{{ data.email }}</span></p>
                <p class="d-flex w-100"><span class="pl-0 font-weight-bold col-5">Documento de
                        identidad:</span><span>J-{{ data.companyRIF }}</span></p>
                <p class="d-flex w-100"><span class="pl-0 font-weight-bold col-5">Sitio web:</span><a
                        [href]="data.webSite">{{ data.webSite }}</a></p>
                <p class="d-flex w-100"><span class="pl-0 font-weight-bold col-5">Tipo de
                        empresa:</span><span>{{ data.companyType }}</span></p>
                <p *ngIf="data.companyOtherType != ''" class="d-flex w-100"><span
                        class="pl-0 font-weight-bold col-5">Otro tipo de
                        empresa:</span><span>{{ data.companyOtherType }}</span></p> -->
            </div>
        </div>
    </div>
</div>