<div class="modal fade" [id]="ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" [ngClass]="{ 
            '' : size == 'md',
            'modal-xl': size == 'lg', 
            'modal-sm' : size == 'sm'
        }">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">{{title}}</h6>
                <button nbButton type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-content select="[content]"></ng-content>
            </div>
            <div class="modal-footer d-flex justify-content-center justify-content-md-end flex-nowrap">
                <button nbButton type="button" class="btn btn-danger col-12 col-md-auto" data-dismiss="modal">Eliminar</button>
                <button nbButton type="button" class="btn btn-outline-secondary col-12 col-md-auto" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>