<!-- <div class="row align-items-center">
    <div class="col-12 col-md form-group">
        <h3>¡Bienvenido al administrador de AmbLeMa!</h3>
    </div>
    <div class="col-12 col-md-3 form-group">
        <figure>
            <img src="../../../../assets/img/logo-amblema.png" class="img-fluid mb-3" alt="Amblema logo">
            <figcaption class="h6">
                Logotipo de AmbLeMa
            </figcaption>
        </figure>
    </div>
</div>

<div class="row">
    <div class="col">
        <nb-card accent="info">
            <nb-card-body>
                <div class="icon-container">
                    300 Padrinos
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col">
        <nb-card accent="info">
            <nb-card-body>
                400 Usuarios
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col">
        <nb-card accent="info">
            <nb-card-body>
                500 Escuelas
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col">
        <nb-card accent="info">
            <nb-card-body>
                20 Coordinadores
            </nb-card-body>
        </nb-card>
    </div>
</div>  -->

<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-body class="text-center">
                <h3>¡Bienvenido al administrador de AmbLeMa!</h3>
                <figure>
                    <img src="../../../../assets/img/logo-amblema.png" class="img-fluid mb-3" alt="Amblema logo">
                
                </figure>
            </nb-card-body>
        </nb-card>
    </div>
</div>