@import '../../../../themes.scss';

img {
    @include screen($breakpoint-xs) {
        width: 100%;
    }
    @include screen($breakpoint-md) {
        width: 20rem;
    }   
    @include screen($breakpoint-lg) {
        width: 25rem;
    }   
    @include screen($breakpoint-xl) {
        width: 30rem;
    }   
}