<div class="col-12 form-group" *ngIf="canCreate">
    <button 
        nbButton 
        [name]="'modal-add-activity'+lapse"
        (click)="modalService.open('modal-add-activity'+lapse)"
        status="success" 
        class="btn btn-success col-12 col-md-auto">Agregar actividad</button>
</div>
<div class="col-12">
    <div class="table-responsive">
        <ng2-smart-table 
            *ngIf="lapses$ | async"
            (custom)="onAction($event)" 
            [source]="source" 
            [settings]="settings"></ng2-smart-table>
    </div>
</div>

<app-activities-form 
[lapse]="lapse"></app-activities-form>
